@charset "utf-8";
/* CSS Document */

.osbnavbar {
	height: 50px;
	width: 100%;
	background-color: #fff;
	border-bottom: solid 1px #9b9b9b;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	line-height: 50px;
}

.osbnavbar a {
	color: #545454;
	font-size: 12px;
	margin: 15px;
	padding-top: 10px;
}

.osbnavbar :hover {
	color:#e94e1b;
}
.osbnavbar .right {
	float:right;
}
